@use "global" as g;
@use "mixin" as m;
/* --------------------
base 
-------------------- */
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  height: auto;
}

address {
  font-style: normal;
}

/* ---------- body ---------- */
body {
  background-color: g.$color-base;
  font-family: g.$font-base;
  font-size: g.$font-size-sp;
  line-height: g.$base-lineheight;
  letter-spacing: g.$base-letter-spacing;
  @include m.mq(md){
    font-size: g.$font-size;
  }
}

