$color-base: #fcf9f2;
$color-main: #11361F;
$color-text: #333;
$font-title: "Oswald", sans-serif;
$font-weight-light: 200;
$font-weight-medium: 500;
$font-base: "Noto Sans JP", sans-serif;
$font-size-sp: 0.875rem;
$font-size: 1rem;
$base-lineheight: 1.75;
$base-letter-spacing: 0.08em;
