//- footer.pug
footer
  .footer-inner.c-container
    .footer-left
      .logo-footer
        img.logo-footer-img(src="../images/logo-footer.svg",alt="ページ下部のロゴ",width="186",height="79")
      address.footer-address
        p 株式会社#{b}
        p 〒012-3456 東京都渋谷区ABC
        p TEL 012-345-6789
    .footer-right
      ul.footer-sns-list
        li.footer-sns-item
          a(href="#") Twitter
        li.footer-sns-item
          a(href="#") Instagram
        li.footer-sns-item
          a(href="#") Facebook
  small.copyright © 2024 #{b},inc.
